@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nuone-top-nav-container {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.nuone-top-nav-container .top-nav {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.nuone-top-nav-container .top-nav .top-nav-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.nuone-top-nav-container .top-nav .top-nav-links {
  padding: 44px 0;
}
.nuone-top-nav-container .top-nav .top-nav-links a {
  font-family: "Roboto", sans-serif;
  font-size: 18.5px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.nuone-top-nav-container .top-nav .top-nav-links a:not(:last-child) {
  margin-right: 20px;
}
.nuone-top-nav-container .top-nav .whatsapp-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.nuone-top-nav-container .top-nav .whatsapp-container .top-nav-whatsapp {
  line-height: 0;
}
.nuone-top-nav-container .top-nav .whatsapp-container .top-nav-whatsapp img {
  width: 31px;
  height: auto;
}
.nuone-top-nav-container .top-nav .whatsapp-container .top-nav-whatsapp-txt {
  font-family: "Roboto", sans-serif;
  font-size: 18.5px;
  font-weight: 400;
  text-decoration: none;
  background-color: #ffffff;
  position: absolute;
  padding: 2px;
  border-radius: 10px;
  top: 50px;
  display: none;
  width: 147px;
  transition: 0.5s linear;
}
.nuone-top-nav-container .top-nav .whatsapp-container .top-nav-whatsapp-txt-active {
  display: block !important;
}

.top-nav-scroll {
  background-color: rgba(13, 13, 13, 0.5) !important;
}

.nuone-mobile-top-bar {
  display: none;
}
.nuone-mobile-top-bar .mob-nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.9) !important;
  padding-top: 100px;
  transform: translateY(-125vh);
  transition: ease-in-out 0.5s;
}
.nuone-mobile-top-bar .mob-nav-links a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.nuone-mobile-top-bar .mob-nav-links a:not(:last-child) {
  margin-bottom: 15px;
}

.mob-nav-active {
  transform: translateY(0vh) !important;
}

.mobile-nav-scroll {
  background-color: rgba(13, 13, 13, 0.5) !important;
}

.nuone-hero-container {
  width: 100%;
  background-image: url("/assets/images/hero-cover-img.jpeg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nuone-hero-container .hero-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #090909 0%, rgba(11, 11, 11, 0.55) 67%, rgba(13, 13, 13, 0) 93.22%);
  background-repeat: no-repeat;
}
.nuone-hero-container .hero-overlay .hero {
  padding-top: 295px;
  padding-bottom: 31px;
  max-width: 1220px;
  margin: auto;
}
.nuone-hero-container .hero-overlay .hero h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 10%, #7F87FF 25%, #F65AAD 35%, #EC3D43 45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nuone-hero-container .hero-overlay .hero h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 41.5px;
  font-weight: 700;
  line-height: 44px;
}
.nuone-hero-container .hero-overlay .hero h2 span {
  color: #979797;
}
.nuone-hero-container .hero-overlay .hero .hero-sub {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}
.nuone-hero-container .hero-overlay .hero .hero-sub div {
  flex: 1;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 32px;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-1 .hero-sub-1-sec h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2px;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-1 .hero-sub-1-sec p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-2 h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.nuone-hero-container .hero-overlay .hero .hero-sub .hero-sub-2 img {
  width: 44px;
  height: auto;
}
.nuone-hero-container .hero-bottom {
  background-image: url("/assets/other/gradient-1.gif");
  height: 5px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.nuone-portfolio-container {
  width: 100%;
  background-color: #ffffff;
}
.nuone-portfolio-container .portfolio {
  max-width: 1220px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
.nuone-portfolio-container .portfolio .porfolio-image {
  width: 450px;
  height: auto;
}
.nuone-portfolio-container .portfolio .portfolio-details h3 {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}
.nuone-portfolio-container .portfolio .portfolio-details p {
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.nuone-portfolio-container .portfolio .portfolio-details .pd-btns {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.nuone-portfolio-container .portfolio .portfolio-details .pd-btns .pd-cv-btn {
  background-color: #0071E3;
  color: #ffffff;
  border: none;
  padding: 7px 17px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.nuone-portfolio-container .portfolio .portfolio-details .pd-btns .pd-learn-btn {
  color: #0071E3;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.nuone-work-exp-container {
  width: 100%;
  background-color: #FBFBFD;
}
.nuone-work-exp-container .work-exp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1220px;
  margin: auto;
}
.nuone-work-exp-container .work-exp .exp-det h3 {
  font-size: 49px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nuone-work-exp-container .work-exp .exp-det p {
  font-size: 27px;
  font-weight: 700;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.nuone-work-exp-container .work-exp .exp-det p span {
  color: #9B9B9B;
}
.nuone-work-exp-container .work-exp .exp-img {
  width: 266px;
  height: auto;
}

.nuone-tech-container {
  width: 100%;
  background-color: #FBFBFD;
  padding-bottom: 65px;
  overflow: hidden;
}
.nuone-tech-container .techs {
  max-width: 1220px;
  margin: auto;
}
.nuone-tech-container .techs .slick-list {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.nuone-tech-container .techs .slick-dots li button::before {
  font-size: 8px !important;
}
.nuone-tech-container .techs .tech {
  padding: 22px;
  border-radius: 17.117px;
  background: #FFF;
  box-shadow: 1.902px 3.804px 11.411px 0px rgba(0, 0, 0, 0.08);
}
.nuone-tech-container .techs .tech h2 {
  color: #409EC8;
  font-family: "Montserrat", sans-serif;
  font-size: 34.234px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nuone-tech-container .techs .tech h3 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 18.663px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nuone-tech-container .techs .tech h4 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 11.411px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 35px;
}
.nuone-tech-container .techs .tech-3 h2 {
  color: #FF0053;
}
.nuone-tech-container .techs .tech-4 h2 {
  color: #FF53BA;
}
.nuone-tech-container .techs .tech-5 h2 {
  color: #FF0053;
}
.nuone-tech-container .techs .tech:not(:last-child) {
  margin-right: 19px;
}

.nuone-projects-container {
  padding: 30px;
  width: 100%;
  padding-bottom: 125px;
  overflow: hidden;
}
.nuone-projects-container h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.008px;
  letter-spacing: -0.144px;
  color: #2CA2B4;
}
.nuone-projects-container h2 strong {
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.008px;
  letter-spacing: -0.144px;
}
.nuone-projects-container .projects {
  max-width: 1220px;
  margin: auto;
  margin-top: 70px;
}
.nuone-projects-container .projects .slick-list {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.nuone-projects-container .projects .slick-dots li button::before {
  font-size: 8px !important;
}
.nuone-projects-container .projects .project {
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 431.321px;
  height: 343.765px;
  display: flex;
  align-items: flex-end;
}
.nuone-projects-container .projects .project .project-txt {
  padding: 12px 25px 30px;
  background: #F0F0F0;
  width: 100%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.nuone-projects-container .projects .project .project-txt h4 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 25.353px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nuone-projects-container .projects .project .project-txt p {
  color: rgba(87, 87, 87, 0.44);
  font-family: "Montserrat", sans-serif;
  font-size: 14.353px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nuone-projects-container .projects .project:not(:last-child) {
  margin-right: 25px;
}
.nuone-projects-container .projects .project-1 {
  background-image: url("/assets/images/project-1.png");
}
.nuone-projects-container .projects .project-2 {
  background-image: url("/assets/images/project-2.png");
}
.nuone-projects-container .projects .project-3 {
  background-image: url("/assets/images/Gym.png");
}
.nuone-projects-container .projects .project-4 {
  background-image: url("/assets/images/project-2.png");
}

.nuone-dark-container {
  background-color: #1E1E1E;
  width: 100%;
  padding: 50px;
  padding-bottom: 100px;
}
.nuone-dark-container > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 52.008px;
  letter-spacing: -0.144px;
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
.nuone-dark-container > p {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  margin-bottom: 40px;
}
.nuone-dark-container .dark {
  margin-top: 20px;
  max-width: 1220px;
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.nuone-dark-container .dark .icon {
  padding: 25px 15px;
  border: 1px solid #434343;
  border-radius: 24px;
  flex: 1;
}
.nuone-dark-container .dark .icon > div {
  border: 1px solid #434343;
  border-radius: 50px;
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nuone-dark-container .dark .icon > div img {
  margin: auto;
}
.nuone-dark-container .dark .icon h4 {
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 35%, #F65AAD 56%, #EC3D43 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 26.353px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 7px;
  line-height: normal;
}
.nuone-dark-container .dark .icon p {
  color: #9B9B9B;
  font-family: "Roboto", sans-serif;
  font-size: 16.471px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nuone-dark-container .dark .icon:not(:last-child) {
  margin-right: 20px;
}

.nuone-touch-container {
  width: 100%;
  padding: 50px;
}
.nuone-touch-container .touch {
  max-width: 1220px;
  margin: auto;
}
.nuone-touch-container .touch h3 {
  color: #1E1E1E;
  font-family: "Montserrat", sans-serif;
  font-size: 36.128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.nuone-touch-container .touch h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 51.996px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 30%, #7F87FF 45%, #F65AAD 60%, #EC3D43 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.nuone-touch-container .touch p {
  color: #7E7E7E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
}
.nuone-touch-container .touch p span {
  color: #000;
  font-weight: 700;
}
.nuone-touch-container .touch button {
  color: #FFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 25.681px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.213px;
  letter-spacing: -0.565px;
  padding: 10px 60px;
  background-color: #0071E3;
  border: none;
  border-radius: 1480px;
  display: block;
  margin: auto;
  margin-top: 25px;
}

.nuone-footer-container {
  width: 100%;
  background-color: #D9D9D9;
  padding: 50px;
}
.nuone-footer-container .footer {
  max-width: 1220px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nuone-footer-container .footer h4,
.nuone-footer-container .footer span {
  color: #424245;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.nuone-footer-container .footer #footerYear {
  display: inline-block !important;
}
.nuone-footer-container .footer span {
  display: flex;
  align-items: center;
}
.nuone-footer-container .footer span img {
  width: 40px;
  height: 100%;
  margin-left: 5px;
}

.whatsapp-btn-container .whatsapp-btn {
  display: none;
  position: fixed;
  bottom: 75px;
  right: -100%;
  z-index: 999;
  transition: all ease-in-out 0.2s;
  border: none;
  background: none;
  cursor: pointer;
}
.whatsapp-btn-container .whatsapp-btn img {
  width: 55px;
}

.whats-app-active {
  display: block !important;
  position: fixed;
  transition: all ease-in-out 0.2s;
  right: 20px !important;
}

.nuone-dev-note {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  border: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
  padding: 20px;
}
.nuone-dev-note .dev-note h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.nuone-dev-note .dev-note h3 .dev-note-sp {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

/*# sourceMappingURL=main.css.map */
