@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// fonts
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: "Poppins", sans-serif;

// colors
$gold: #DCA63D;
$light-blue: #409EC8;
$red-pink: #FF0053;
$pink: #FF53BA;
$grey-black: #1E1E1E;
$grey: #9B9B9B;
$grey-2: #979797;
$blue: #0071E3;
$white: #ffffff;
$light-grey: #D9D9D9;
$ligh-grey-2: #7E7E7E;
$drak-grey: #424245;
$black: #000000;